{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "semi": false,
  "singleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "tabWidth": 2,
  "tailwindConfig": "./tailwind.config",
  "trailingComma": "all"
}
